.page.theme_dark {
  --title: #FF0070;
  --text: #000028;
  --background-title-color: #FF0070;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --link-shadow: var(--title-shadow);
  --rec-color: var(--title-shadow);
  --border-color: var(--title);
  --border-color-hover: rgba(255, 0, 112, 0.4);
  --corners-color: var(--title-shadow);
}