/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-text-color: #353430;
  --title: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --background-title-color: #ff8dcb;
  --text: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --border-color: var(--title);
  --border-color-hover: rgba(53, 52, 48, 0.4);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--background-title-color);
  --rec-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --title: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --background-title-color: #ff8dcb;
    --text: #353430;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --border-color: var(--title);
    --border-color-hover: rgba(53, 52, 48, 0.4);
    --corners-color: var(--main-text-color);
    --link-shadow: var(--background-title-color);
    --rec-color: var(--background-color);
  }
}

.page.theme_light .header__rec {
  display: none;
}
